body{
margin:0;
font-family:'Poppins',sans-serif;
background:#3fde64;
color:white;
display:flex;
}

/* SIDEBAR */

.sidebar{
width:220px;
height:100vh;
background:#a2c9d6;
padding:30px 20px;
position:fixed;
}

.logo{
margin-bottom:40px;
font-size:22px;
color:#2d0668;
}

.nav{
display:block;
padding:12px;
margin-bottom:10px;
border-radius:8px;
color:#2d0668;
cursor:pointer;
transition:0.3s;
}

.nav:hover{
background:#373178;
color:rgb(239, 232, 232);
}

.active{
background:#0c0455;
color:rgb(234, 232, 241);
}

/* MAIN AREA */

.main{
margin-left:240px;
padding:40px;
width:100%;
}

.title{
margin-bottom:30px;
}

/* STATS */

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:40px;
}

.stat{
padding:25px;
border-radius:12px;
font-size:18px;
box-shadow:0 10px 20px rgba(143, 89, 223, 0.449);
transition:0.3s;
}

.stat:hover{
transform:translateY(-5px);
}

/* COLORS */

.red{background:linear-gradient(135deg,#8844ef,#b91c8f);}
.green{background:linear-gradient(135deg,#22c55e,#211580);}
.blue{background:linear-gradient(135deg,#3bf6e6,#92af1e);}
.yellow{background:linear-gradient(135deg,#f50b13,#98b409);}


/* ENGINE CARDS */

.section-title{
margin:30px 0 15px 0;
}

.engines{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:40px;
}

.engine-card{
padding:25px;
border-radius:14px;
border:none;
color:rgb(222, 221, 236);
cursor:pointer;
transition:0.3s;
font-family:'Poppins';
}

.engine-card:hover{
transform:scale(1.05);
box-shadow:0 10px 25px rgba(119, 114, 200, 0.4);
}

/* ENGINE COLORS */

.v8{background:linear-gradient(135deg,#ea3382,#92a821);}
.i4{background:linear-gradient(135deg,#06d493,#94a103);}
.v6{background:linear-gradient(135deg,#d9f43f,#be5112);}
.boxer{background:linear-gradient(135deg,#b9109d,#697804);}


/* COMPONENTS */

.components{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.component{
background:#023b3b;
padding:20px;
border-radius:10px;
text-align:center;
transition:0.3s;
}

.component:hover{
background:#767959;
transform:translateY(-3px);
}

.viewer-section{
display:flex;
height:90vh;
}

#viewer{
flex:3;
background:#2d1bcb;
}

.part-info{
flex:1;
background:#5e42d8;
color:rgb(255, 255, 255);
padding:20px;
}

body{
margin:0;
font-family:Segoe UI, sans-serif;
background:#0a032e;
color:rgb(244, 240, 243);
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:#8a999f;
}

.back-btn{
text-decoration:none;
color:#f87538;
font-weight:bold;
}
